<table>
<tr>
          <td colspan = "3">{{mail}}</td>
          <td colspan = "2"><button>Click me :)</button></td>
</tr>
<tr>
          <td><img src = "{{laptop[0].photo}} " alt = " "></td>
          <td><img src = "{{laptop[1].photo}} " alt = " "></td>
          <td><img src = "{{laptop[2].photo}} " alt = " "></td>
          <td><img src = "{{laptop[3].photo}} " alt = " "></td>
          <td><img src = "{{laptop[4].photo}} " alt = " "></td>
          <td><img src = "{{laptop[5].photo}} " alt = " "></td>
          <td></td>
</tr>
<tr>
           <td>{{laptop[0].name}}</td>
           <td>{{laptop[1].name}}</td>
           <td>{{laptop[2].name}}</td>
           <td>{{laptop[3].name}}</td>
           <td>{{laptop[4].name}}</td>
           <td>{{laptop[5].name}}</td>
           <td></td>
</tr>
<tr>
           <td>{{laptop[0].specs}}</td>
           <td>{{laptop[1].specs}}</td>
           <td>{{laptop[2].specs}}</td>
           <td>{{laptop[3].specs}}</td>
           <td>{{laptop[4].specs}}</td>
           <td>{{laptop[5].specs}}</td>
           <td></td>
</tr>
<tr>
           <td>{{laptop[0].price}}</td>
           <td>{{laptop[1].price}}</td>
           <td>{{laptop[2].price}}</td>
           <td>{{laptop[3].price}}</td>
           <td>{{laptop[4].price}}</td>
           <td>{{laptop[5].price}}</td>
           <td></td>
</tr>
</table>

          